{
    "APP_ENV": "production",
    "APP_KEY": "xxxxx",
    "APP_PORT": "9021",
    "type": "xxxxx",
    "project_id": "xxxxx",
    "private_key": "xxxxx",
    "client_email": "xxxxx",
    "SLACK_WEBHOOK": "xxxxx",
    "SLACK_CHANNEL": "xxxxx"
}